@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .acquamarine-button {
    @apply py-1;
    @apply px-3;
    @apply text-white;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply bg-uber-semitransparent-acquamarine;
    @apply rounded-[50px];
  }

  .blue-rounded-container {
    @apply rounded-tr-[30px];
    @apply rounded-tl-[30px];
    @apply rounded-br-[30px];
    @apply rounded-bl-[30px];
    @apply pt-5;
    background-color: #1A1D4F;
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.25), 0px 4px 1px rgba(0, 0, 0, 0.4), inset 0px 2px 1px rgba(255, 255, 255, 0.25);
  }
}

:root {
  --animate-duration: 500ms;
}

body {
  margin: 0;
  font-family: 'Special Elite', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 91vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  z-index: -666;
}

#root {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

canvas#qr-left, canvas#qr-right {
  z-index: 999;
}

.text-grey {
  color: rgba(255, 255, 255, 0.7);
}

.text-grey-light {
  color: #D9D9D9;
}

.glow-label {
  text-shadow: 0px 0px 4px #FFFFFF, 0px 0px 25px #FFFFFF;
}

/* Inputs */
input[type="range"] {
  transform: rotate(270deg);
  -webkit-appearance: none;
  height: 3px;
  border-radius: 5px;
  background: rgb(17, 17, 17) linear-gradient(#ffffff, #ffffff) no-repeat;
  /*pointer-events: none;*/
}

input[type="range"].locked {
  background: rgb(17, 17, 17) linear-gradient(#b2b2b2, #ffffff) no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 60px;
  width: 15px;
  border-radius: 35%;
  background: #ffffff;
  /*pointer-events: auto;*/
}

input[type="range"].locked::-webkit-slider-thumb {
  background: #b2b2b2;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
